In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

df1 = pd.read_csv('./archieve/2022_world_cup_groups.csv', header=None)
df2 = pd.read_csv('./archieve/2022_world_cup_matches.csv', header=None)
df3 = pd.read_csv('./archieve/data_dictionary.csv', header=None)
df4 = pd.read_csv('./archieve/international_matches.csv', header=None)
df5 = pd.read_csv('./archieve/world_cup_matches.csv', header=None)
df6 = pd.read_csv('./archieve/world_cups.csv', header=None)
print("2022 월드컵 각 그룹별 국가 편성\n")
df1.head(len(df1))

2022 월드컵 각 그룹별 국가 편성

        0              1             2
0   Group           Team  FIFA Ranking
1       A          Qatar            50
2       A        Ecuador            44
3       A        Senegal            18
4       A    Netherlands             8
5       B        England             5
6       B           Iran            20
7       B  United States            16
8       B          Wales            19
9       C      Argentina             3
10      C   Saudi Arabia            51
11      C         Mexico            13
12      C         Poland            26
13      D         France             4
14      D      Australia            38
15      D        Denmark            10
16      D        Tunisia            30
17      E          Spain             7
18      E     Costa Rica            31
19      E        Germany            11
20      E          Japan            24
21      F        Belgium             2
22      F         Canada            41
23      F        Morocco            22
24      F        Croatia            12
25      G         Brazil             1
26      G         Serbia            21
27      G    Switzerland            15
28      G       Cameroon            43
29      H       Portugal             9
30      H          Ghana            61
31      H        Uruguay            14
32      H    South Korea            28

In [129]:
print("2022 월드컵 매치 일정\n")
df2.head(len(df2))

2022 월드컵 매치 일정

,0,1,2,3,4,5,6
0,ID,Year,Date,Stage,Home Team,Away Team,Host Team
1,1,2022,2022/11/20,Group stage,Qatar,Ecuador,TRUE
2,2,2022,2022/11/21,Group stage,Senegal,Netherlands,FALSE
3,3,2022,2022/11/21,Group stage,England,Iran,FALSE
4,4,2022,2022/11/21,Group stage,United States,Wales,FALSE
...,...,...,...,...,...,...,...
60,60,2022,2022/12/10,Quarter-finals,W55,W56,NaN
61,61,2022,2022/12/13,Semi-finals,W57,W58,NaN
62,62,2022,2022/12/14,Semi-finals,W59,W60,NaN
63,63,2022,2022/12/17,Third place,L61,L62,NaN
64,64,2022,2022/12/18,Final,W61,W62,NaN

In [130]:
print("각 csv 파일(Table)별 Field에 대한 설명\n")
df3.head(len(df3))

각 csv 파일(Table)별 Field에 대한 설명

,0,1,2
0,Table,Field,Description
1,world_cups,Year,Year in which the World Cup took place
2,world_cups,Host Country,Country that hosted the tournament
3,world_cups,Winner,Country that won the tournament
4,world_cups,Runners-Up,Country that received second place
5,world_cups,Third,Country that received third place
6,world_cups,Fourth,Country that received fourth place
7,world_cups,Goals Scored,Total number of goals scored in the tournament
8,world_cups,Qualified Teams,Total number of teams that participated in the...
9,world_cups,Matches Played,Total number of matches played in the tournament
10,2022_world_cup_groups,Group,Group for the first stage of the tournament (c...
11,2022_world_cup_groups,Team,Country name
12,2022_world_cup_groups,FIFA Ranking,Current FIFA Ranking
13,2022_world_cup_matches,ID,Unique identifier for the match
14,2022_world_cup_matches,Year,Year in which the World Cup will take place
15,2022_world_cup_matches,Date,Data of the match
16,2022_world_cup_matches,Stage,Stage in the tournament
17,2022_world_cup_matches,Home Team,Country playing as the home team (in the Round...
18,2022_world_cup_matches,Away Team,Country playing as the away team (in the Roun...
19,2022_world_cup_matches,Host Team,TRUE whenever the host country is playing as t...
20,world_cup_matches,ID,Unique identifier for the match
21,world_cup_matches,Year,Year in which the World Cup took place
22,world_cup_matches,Date,Data of the match
23,world_cup_matches,Stage,Stage in the tournament (previous World Cups h...
24,world_cup_matches,Home Team,Country playing as the home team
25,world_cup_matches,Home Goals,Goals scored by the home team
26,world_cup_matches,Away Goals,Goals scored by the away team
27,world_cup_matches,Away Team,Country playing as the away team
28,world_cup_matches,Win Conditions,"Was the match decided in extra time, by golden..."
29,world_cup_matches,Host Team,TRUE whenever the host country is playing as t...
30,international_matches,ID,Unique identifier for the match
31,international_matches,Tournament,Tournament the match was a part of (can also b...
32,international_matches,Date,Data of the match
33,international_matches,Home Team,Country playing as the home team
34,international_matches,Home Goals,Goals scored by the home team
35,international_matches,Away Goals,Goals scored by the away team
36,international_matches,Away Team,Country playing as the away team
37,international_matches,Win Conditions,Was the match decided by penalties?
38,international_matches,Home Stadium,TRUE whenever the game took place in the home ...

In [131]:
print("국제경기 기록\n")
df4.head(len(df4))

국제경기 기록

,0,1,2,3,4,5,6,7,8,9,10
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,NaN,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,England,Scotland,NaN,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,Scotland,England,NaN,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,NaN,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,Scotland,England,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
17764,17765,Friendly,2022-09-27,Qatar,2,2,Chile,NaN,NaN,NaN,False
17765,17766,Friendly,2022-09-27,Saudi Arabia,0,0,United States,NaN,NaN,NaN,False
17766,17767,UEFA Nations League,2022-09-27,Portugal,0,1,Spain,Spain,Portugal,NaN,True
17767,17768,UEFA Nations League,2022-09-27,Switzerland,2,1,Czech Republic,Switzerland,Czech Republic,NaN,True
17768,17769,UEFA Nations League,2022-09-27,Norway,0,2,Serbia,Serbia,Norway,NaN,True

In [132]:
print("역대 월드컵 매치 기록\n")
df5.head(len(df5))

역대 월드컵 매치 기록

,0,1,2,3,4,5,6,7,8,9,10,11
0,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Winning Team,Losing Team,Win Conditions,Host Team
1,1,1930,1930/7/13,Group stage,France,4,1,Mexico,France,Mexico,NaN,FALSE
2,2,1930,1930/7/13,Group stage,United States,3,0,Belgium,United States,Belgium,NaN,FALSE
3,3,1930,1930/7/14,Group stage,Yugoslavia,2,1,Brazil,Yugoslavia,Brazil,NaN,FALSE
4,4,1930,1930/7/14,Group stage,Romania,3,1,Peru,Romania,Peru,NaN,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...
896,896,2018,2018/7/7,Quarter-finals,Russia,2,2,Croatia,NaN,NaN,Croatia win on penalties (3 - 4),TRUE
897,897,2018,2018/7/10,Semi-finals,France,1,0,Belgium,France,Belgium,NaN,FALSE
898,898,2018,2018/7/11,Semi-finals,Croatia,2,1,England,Croatia,England,Extra time,FALSE
899,899,2018,2018/7/14,Third place,Belgium,2,0,England,Belgium,England,NaN,FALSE
900,900,2018,2018/7/15,Final,France,4,2,Croatia,France,Croatia,NaN,FALSE

In [133]:
print("역대 월드컵\n")
df6.head(len(df6))

역대 월드컵

,0,1,2,3,4,5,6,7,8
0,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Qualified Teams,Matches Played
1,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18
2,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17
3,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18
4,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22
5,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26
6,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35
7,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32
8,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32
9,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32
10,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38
11,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38
12,1982,Spain,Italy,Germany FR,Poland,France,146,24,52
13,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52
14,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52
15,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52
16,1998,France,France,Brazil,Croatia,Netherlands,171,32,64
17,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64
18,2006,Germany,Italy,France,Germany,Portugal,147,32,64
19,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64
20,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64
21,2018,Russia,France,Croatia,Belgium,England,169,32,64
22,2022,Qatar,NaN,NaN,NaN,NaN,NaN,32,64

In [135]:
# international_match의 0행 이름을 각자 변경
df4.rename(columns={0:'ID'}, inplace= True)
df4.rename(columns={1:'Tournament'}, inplace= True)
df4.rename(columns={2:'Date'}, inplace= True)
df4.rename(columns={3:'Home Team'}, inplace= True)
df4.rename(columns={4:'Home Goals'}, inplace= True)
df4.rename(columns={5:'Away Goals'}, inplace= True)
df4.rename(columns={6:'Away Team'}, inplace= True)
df4.rename(columns={7:'Winning Team'}, inplace= True)
df4.rename(columns={8:'Losing Team'}, inplace= True)
df4.rename(columns={9:'Win Conditions'}, inplace= True)
df4.rename(columns={10:'Home Stadium'}, inplace= True)

# 득실차 추가
df4['Goal Difference'] =  np.absolute(df4['Home Goals'] - df4['Away Goals'])
df4.head(len(df4))

,ID,Tournament,Date,Home Team,Home Goals,Away Goals,Away Team,Winning Team,Losing Team,Win Conditions,Home Stadium,Goal Difference
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,NaN,NaN,True,0
1,2,Friendly,1873-03-08,England,4,2,Scotland,England,Scotland,NaN,True,2
2,3,Friendly,1874-03-07,Scotland,2,1,England,Scotland,England,NaN,True,1
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,NaN,NaN,True,0
4,5,Friendly,1876-03-04,Scotland,3,0,England,Scotland,England,NaN,True,3
...,...,...,...,...,...,...,...,...,...,...,...,...
17764,17765,Friendly,2022-09-27,Qatar,2,2,Chile,NaN,NaN,NaN,False,0
17765,17766,Friendly,2022-09-27,Saudi Arabia,0,0,United States,NaN,NaN,NaN,False,0
17766,17767,UEFA Nations League,2022-09-27,Portugal,0,1,Spain,Spain,Portugal,NaN,True,1
17767,17768,UEFA Nations League,2022-09-27,Switzerland,2,1,Czech Republic,Switzerland,Czech Republic,NaN,True,1
17768,17769,UEFA Nations League,2022-09-27,Norway,0,2,Serbia,Serbia,Norway,NaN,True,2